<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc" version="2.3.0" targetFramework="net452" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net452" />
  <package id="GitVersionTask" version="3.4.1" targetFramework="net452" developmentDependency="true" />
  <package id="MailKit" version="1.2.21" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.2.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="MimeKit" version="1.2.22" targetFramework="net452" />
  <package id="Nancy" version="1.4.3" targetFramework="net451" />
  <package id="Nancy.MobileViewLocationConventions" version="1.0.1.0" targetFramework="net451" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net451" />
  <package id="Nancy.Validation.FluentValidation" version="1.4.1" targetFramework="net451" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net451" />
  <package id="NewRelic.Azure.WebSites" version="5.16.71.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>