@using Romulus.Web.Infrastructure
@{
    ViewBag.Title = "Gridlock";
}

<script type="text/javascript" src="@ContentDeliveryNetwork.Google.SwfObjectUrl"></script>
<script type="text/javascript">

    // <![CDATA[
    swfobject.embedSWF("/content/img/gridlock.swf", "flashcontent", "460", "550", "6.0.40");
    // ]]>
</script>
<div id="flashcontent">
    <p>Flash is required for gridlock</p>
    <p>
        <a href="https://get.adobe.com/flashplayer/">
            <img src="/Content/img/get_flash_player.png" alt="Get
Adobe Flash Player" style="border: none;" />
        </a>
    </p>
</div>
<br /><br />
