<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-title" content="Madhon's Site" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    @*        <meta name="apple-touch-icon" content="/includes/img/icon.png" />
        <meta name="apple-touch-startup-image" content="/inclues/img/splash.png" />
    *@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/js/ratchet.min.js"></script>
    @RenderSection("cssFiles", false)
</head>
<body>
	<header class="bar bar-tab">
		<a href="/">
			<span class="icon icon-home"></span>
			<span class="tab-label">Home</span>
		</a>
		<a href="/Contact">
			<span class="icon icon-person"></span>
			<span class="tab-label">Contact</span>
		</a>
    </header>

	<div class="bar bar-standard bar-footer">
		Copyright &copy; 2010-2015 Madhon
	</div>
	
	<div class="content">
		@RenderBody()
	</div>
    @RenderSection("scriptFiles", false)
</body>
</html>
