<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Madhon's Site" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    @*        <meta name="apple-touch-icon" content="/includes/img/icon.png" />
        <meta name="apple-touch-startup-image" content="/inclues/img/splash.png" />
    *@
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	<link rel="stylesheet" href="content/css/Site.Mobile.css">
    @RenderSection("cssFiles", false)
</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper">
			<ul class="side-nav" id="mobilenav">
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<ul id="slide-out" class="side-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		</div>
	</nav>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			@RenderBody()
		</div>
	</div>

	<footer class="page-footer light-blue lighten-1">
		<div class="footer-copyright">
		<div class="container">© 2015 Madhon</div>
		</div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<script src="content/js/app-mobile.js"></script>
	@RenderSection("scriptFiles", false)
</body>
</html>
