@{
    ViewBag.Title = "Gridlock";
}
   
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript"> 
   // <![CDATA[
    swfobject.embedSWF("/img/gridlock.swf", "flashcontent", "460", "550", "6.0.40");
   // ]]>
</script> 
<div id="flashcontent"> 
<p>Flash is required for gridlock</p> 
  <p><a href="http://www.adobe.com/go/getflashplayer"><img src="/img/get_flash_player.png" alt="Get 
Adobe Flash Player" style="border: none;" /></a></p> 
</div> 
<br /><br /> 
