@{
    Layout = "Shared/_Layout-Mobile.cshtml";
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div class="row">
<form action="/Contact" class="col s12" id="frmContact" method="post" name="frmContact" role="form"  data-parsley-validate>
    @Html.AntiForgeryToken()
	<div class="row">
		<div class="input-field col s12">
			<input id="Name" name="Name" type="text" placeholder="Your Name" value="" autofocus required>
			<label for="Name">Name</label>
		</div>
	
	
		<div class="input-field col s12">
			<input id="Email" name="Email" type="email" placeholder="Your Email Address" value="" data-parsley-trigger="change" required>
			<label for="Email">Email</label>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<textarea id="Message" class="materialize-textarea" placeholder="Your Message" required></textarea>
			<label for="Message">Message</label>
		</div>
	</div>
	
	<div class="row">
		<button class="btn waves-effect waves-light col s6" type="submit" name="action">Send Message<i class="mdi-content-send right"></i><button>
		<button class="btn waves-effect waves-light col s6" type="reset" name="action">Cancel<button>
	</div>
</form>
</div>

@section scriptFiles {
     <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.7/parsley.min.js"></script>
    <script src="/Content/js/contact.js"></script>
}