@{
    ViewBag.Title = "Home";
}

<h2>Welcome</h2>
<p>If I were a James Bond villain, I would be Dr Julius No. I enjoy fine dining, nuclear power, and initiating global war.</p>
<br />
<p>
    Quote of the day:<br />
    If at first you don't succeed... blame tom... <br />
    <br />
</p>
<br />


