@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>General Error :(</title>
        <link href="@Url.Content("~/content/error.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1>Error <span>:(</span></h1>
            <img src="@Url.Content("~/img/fix_it_cat.jpg")" />
            <p>Something went wrong. Now we know about it</p>
        </div>
    </body>
</html>
